/* CSS reset, dit niet aanpassen! */

html {
  
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(237, 55, 85);
}

body.les2 {
  background-color: rgb(246, 172, 203);
  }


body {
  text-align: center; 
    font-family: verdana; 
    font-size: 20px;
    color: rgb(223, 11, 89);
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }



.afbeeldingen img {
    width: 100%;
    height: auto;
}

#hello-kitty img {
    max-width: 50%;
    height: auto;
}

.menu-item {
  background-image: url('Images/Unicorn hello kitty.jpg');
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
}

.menu-item:hover {
  background-color: rgb(255, 148, 191);
}

.Tekst {
  background-color: rgb(232, 97, 151);
}

#achtergrond {
    background-image: url('Images/hello kitty frogs.jpg'); 
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;

width: 1300px;
height: 300px;
}

#oranje-rand {
    border: 3px solid rgb(255, 216, 20);
    margin: 50px;
    padding: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
} 

ul {
    list-style: none;
    padding: 0;
}

body.index {
    background-color: rgb(187, 222, 240);
}

.afbeeldingen img {
    width: 100%;
    height: auto;
}

#poesje {
    background-color:rgb(164, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 40px; 
    }






